:root {
  --main-color: #dcd9d0;
  --font-color: #444444;
  --hover-font-color: #000000;
  --border-color: rgb(39, 197, 39);
  --content-page-bk: #f4f4f4;
  --display-content-bk: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  font-size: 18px;
}

/* Apply basic styling to the page */
body {
  /* margin: 0; */
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, main content, footer */
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
}

/* Header styles */
.header {
  grid-row: 1 / 2;
  background-color: var(--main-color);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 50px;
}

/* Navigation styles inside header */
.nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.nav a {
  text-decoration: none;
  padding: 5px;
  border-bottom: 3px solid var(--main-color);
}

.nav a:hover {
  color: var(--hover-font-color);
  border-bottom: 3px solid var(--border-color);
  transition-duration: 800ms;
  transition-property: border;
}

/* Grid layout for the main content */
main {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: auto 3fr; /* 1/4 for aside and 3/4 for main content */
  gap: 20px; /* Space between the aside and main section */
  padding: 40px 30px;
}

/* Styles for aside section (content-page) */
.content-page {
  grid-column: 1 / 2;
  background-color: var(--content-page-bk);
  padding: 20px 35px;
  border-right: 1px solid #ddd;
  border-radius: 8px;
}

.content-page ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 2px solid var(--content-page-bk);
}

.content-page ul li:hover {
  border-bottom: 2px solid var(--border-color);
  scale: 1.15;
  cursor: pointer;
  transition-duration: 500ms;
  transition-property: all;
}

/* Styles for main section (display-content) */
.display-content {
  grid-column: 2 / 3;
  padding: 20px;
  background-color: var(--display-content-bk);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.display-content button {
  border: none;
}

.display-content .close-btn {
  font-size: 40px;
  align-items: end;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.display-content .close-btn:hover {
  color: red;
  transition-duration: 500ms;
  scale: 1.1;
}

/* Footer styles */
.footer {
  grid-row: 3 / 4;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
